body {
  background-color: #000;
}

.logo {
  width: 115px;
  height: 42px;
  padding: 0px 0px 7px;
}
.login-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}
