:root {
  --brand-color: #1f80e0;
}

.main-container {
  min-width: 290px;
  max-width: 350px;
  margin: 0 auto;
  overflow: hidden;
}

.email-or-fb-signin {
  margin-top: 40px;
  width: 100%;
  min-height: 50px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--brand-color);
  background-color: rgba(31, 127, 224, 0.1);
  border: 1px solid var(--brand-color);
  border-radius: 5px;
  padding: 5px;
  display: block;
}

.heading {
  margin-top: 80px;
  margin-bottom: 36px;
}
.heading-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: #fff;
}
.country-code {
  color: #fff;
  padding-right: 8px;
  border-right: 1px solid var(--brand-color);
  margin-right: 8px;
}

.or-div {
  color: #fff;
  font-size: 10px;
}

.input-form {
  padding: 50px;
  width: 100%;
}

.phone-input-container {
  display: flex;
  height: 40px;
  align-items: center;
  border-bottom: 1px solid var(--brand-color);
}

.login-input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: 0;
  color: #fff;
}

.phone-number-container {
  border-bottom: 1px solid var(--brand-color);
}

.or-div {
  text-align: center;
  margin-top: 20px;
}
.clear-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
  svg {
    height: 20px;
    width: 20px;
    color: var(--brand-color);
  }
}
.submit-button {
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: var(--brand-color);
  color: #fff;
  width: 100%;
  outline: none;
  font-size: 14px;
  svg {
    width: 15px;
    height: 15px;
    color: #fff;
    margin-left: 1px;
    margin-top: 2px;
    align-content: center;
  }
}

.email-container {
  border: 0px solid;
}
.email-input {
  width: 100%;
  background-color: transparent;
  margin-top: 20px;
  border: 0;
  border-bottom: 1px solid var(--brand-color);
  height: 40px;
  color: #fff;
  outline: none;
}

.login-with-fb {
  width: 100%;
  background-color: #3f51b5;
  height: 40px;
  margin-top: 20px;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 14px;
  text-transform: none;

  svg {
    height: 50px;
    width: 40px;
    margin-right: 2px;
    display: inline-block;
    text-transform: none;
  }
}
