.cards-and-trailers {
  overflow: auto;
}

.trailer-list {
  white-space: nowrap;
  margin-top: 40px;

  .coming-soon-header {
    color: #fff;
    margin-bottom: 10px;
    font-size: medium;
  }

  .trailer {
    display: inline-block;
    width: 170px;
    height: 100px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #192133;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}

.content-title {
  padding: 0 50px 0 50px;
  position: absolute;
  max-width: 60%;
  bottom: 4px;
  left: 10px;
  text-align: left;
  margin-right: 10px;
  font-size: 12px;
  font-weight: bolder;
  color: #ccc;
  line-height: normal;
  background: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-list {
  white-space: nowrap;
  margin-top: 30px;

  .disney-original-header {
    color: #fff;
    margin-bottom: 10px;
    font-size: medium;
  }

  .made-in-india-header {
    color: #fff;
    margin-bottom: 10px;
    font-size: medium;
  }

  .card {
    display: inline-block;
    width: 160px;
    height: 140px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #192133;

    img {
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
  }
}
