.trailer-list {
  white-space: nowrap;
  margin-top: 40px;
  overflow: hidden;

  .trailer {
    display: inline-block;
    width: 170px;
    height: 100px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #192133;
  }
}

.card-list {
  white-space: nowrap;
  margin-top: 30px;
  overflow: hidden;

  .card {
    display: inline-block;
    width: 120px;
    height: 140px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #192133;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
